################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hasona23.Drinks/.vs/hasona23.Drinks
