<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Categories" value="http://www.thecocktaildb.com/api/json/v1/1/list.php?c=list"/>
		<add key="Drinks" value="http://www.thecocktaildb.com/api/json/v1/1/filter.php?c="/>
		<add key="Details" value="http://www.thecocktaildb.com/api/json/v1/1/lookup.php?i="/>
	</appSettings>
</configuration>

