<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DrinkCategories" value="https://www.thecocktaildb.com/api/json/v1/1/list.php?c=list"/>
		<add key="GetDrinks" value="https://www.thecocktaildb.com/api/json/v1/1/filter.php?c="/>
		<add key="GetDrink" value="https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i="/>
	</appSettings>
</configuration>
