<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIBaseURL" value="https://www.thecocktaildb.com/api/json/v1/"/>
		<add key="APIKey" value="1"/>
		<add key="ListCategories" value="/list.php?c=list"/>
		<add key="FilterByCategory" value="/filter.php?c="/>
		<add key="SearchByName" value="/search.php?s="/>
	</appSettings>
</configuration>